# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#TTS models
TTS/models/

# Virtual environment
venv/
env/
.env/
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs and local databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
